/*Old Stuff*/
.og_hover {width:100%;height:100%;transition:0.5s;}
.og_hover:hover {width:125%;height:125%;transition:0.5s;}
.og_smooth {width:80%;margin:0 auto;padding:5px 20px;-webkit-border-radius:12px;background-color:rgba(128,128,128,0.25);}
.og_smooth > div {margin:10px;}
/*Smooth Stuff*/
.oval {width:85%;margin:0 auto;padding:3px 20px;-webkit-border-radius:64px;background-color:rgba(128,128,128,0.5);}
.oval > div {margin:10px;}
.oval_loose {margin:0 auto;-webkit-border-radius:64px;background-color:rgba(128,128,128,0.5);}
.oval > div {margin:10px;}
.smooth {width:85%;margin:0 auto;padding:3px 20px;-webkit-border-radius:8px;background-color:rgba(128,128,128,0.5);}
.smooth_loose {margin:0 auto;-webkit-border-radius:8px;background-color:rgba(128,128,128,0.5);}
.smooth > div {margin:10px;}
.rough {width:85%;margin:0 auto;padding:3px 20px;-webkit-border-radius:4px;background-color:rgba(128,128,128,0.5);}
.rough_loose {margin:0 auto;-webkit-border-radius:4px;background-color:rgba(128,128,128,0.5);}
.rough > div {margin:10px;}
.rect {width:85%;margin:0 auto;padding:3px 20px;-webkit-border-radius:0px;background-color:rgba(128,128,128,0.5);}
.rect_loose {margin:0 auto;-webkit-border-radius:0px;background-color:rgba(128,128,128,0.5);}
.rect > div {margin:10px;}
/*Sizing*/
.smaller_size {width:60%;}
.size10 {width:10%;}
.size20 {width:20%;}
.size30 {width:30%;}
.size40 {width:40%;}
.size50 {width:50%;}
.size60 {width:60%;}
.size70 {width:70%;}
.size80 {width:80%;}
.size90 {width:90%;}
.size100 {width:100%;}
/*Hovering*/
.hover {width:85%;height:100%;transition:0.5s;}
.hover:hover {width:87.5%;height:100%;transition:0.1s;}
.hover_small {width:60%;height:100%;transition:0.5s;}
.hover_small:hover {width:62.5%;height:100%;transition:0.1s;}
/*Fonts*/
h1 {cursor:default;font-family:Audiowide,Arial,sans-serif;font-weight:normal;font-style:normal;}
p {cursor:default;font-family:Audiowide,Arial,sans-serif;font-weight:normal;font-style:normal;}
textarea {cursor:default;font-family:Audiowide,Arial,sans-serif;font-weight:normal;font-style:normal;}
a {cursor:default;font-family: Audiowide,Arial,sans-serif;font-weight:normal;font-style:normal;color:#3333FF;}
div {cursor:default;font-family: Audiowide,Arial,sans-serif;font-weight:normal;font-style:normal;}
body {background-color:#000000;}
.cursive_font {font-family:Sofia,Arial,sans-serif;font-weight:normal;font-style:normal;}
.cool_font {font-family:Teko,Arial,sans-serif;font-weight:normal;font-style:normal;}
.pixel_font {font-family:DotGothic16,Arial,sans-serif;font-weight:normal;font-style:normal;}
.soft_font {font-family:Yusei Magic,Arial,sans-serif;font-weight:normal;font-style:normal;}
.d_font {font-family:D,Arial,sans-serif;font-weight:normal;font-style:normal;}
.fn_font {font-family:Burbank,Arial,sans-serif;font-weight:normal;font-style:normal;}
.heading_font {font-family:Heading Now,Arial,sans-serif;font-weight:normal;font-style:normal;}
.densit_font {font-family:Densit,Arial,sans-serif;font-weight:normal;font-style:normal;}
/*Borders and Positioning*/
.sticky {position:-webkit-sticky;position:sticky;top:0;padding:5px;border:2px solid #301934;}
.fixed {position:fixed;bottom:0;right:0;border:2px solid #301934;}
.border {border:2px solid #301934;}
/*Selections*/
.selection {margin:5px;border:1px solid #343835;float:left;width:180px;height:250px;transition:0.5s;}
.selection:hover {cursor:crosshair;border:1px solid #9A9E9B;transition:0.5s;}
.selection img {width:100%;height:auto;}
.selection_text {padding:15px;text-align:center;}
.selection_text:hover {cursor:crosshair;}
/*Tooltips*/    
.tooltip {position:relative;display:inline-block;border-bottom:1px dotted black;}
.tooltip .tooltiptext {width:180px;background-color:black;color:rgba(128,128,128,0);text-align:center;padding:5px 0;border-radius:6px;position:absolute;z-index:1;margin-left:-60px;left:33.333%;top:30%;background-color:rgba(128,128,128,0);transition:1s;}
.tooltip:hover .tooltiptext {transition:1s;background-color:rgba(128,128,128,0.8);color:rgba(0,0,0,1);}
/*Navigation Bar*/    
.topnav {position:fixed;top:0;left:0;width:100%;overflow:hidden;background-color:#343835;transition:0.75s;}
.topnav a {float:left;display:block;
  color:#9A9E9B;text-align:left;padding:5px 16px;text-decoration: none;transition:0.5s;}
.topnav a:hover {background-color:#ddd;color:black;cursor:crosshair;}
.topnav:hover {cursor:crosshair;}
.active {background-color:#565A57;}
/*Aligning*/    
.text_center {text-align:center;}
.align_center {margin:auto;}
/*Colors (inefficient on memory)*/
.color_red {color:red;}
.color_yellow {color:yellow;}
.color_green {color:green;}
.color_cyan {color:cyan;}
.color_blue {color:blue;}
.color_magenta {color:magenta;}
.color_white {color:white;}
.color_black {color:black;}
.color_accent1 {color:#100632;}
.color_accent2 {color:#9A9E9B;}
.color_accent3 {color:#343835;}
.color_venith1 {color:#040;}
.color_venith2 {color:lime;}
.color_venith3 {color:rgb(19,235,170);}
.color_venith_bg {background-color:#040;}
.color_matt1 {color:blue;}
.color_matt2 {color:black;}
.color_matt3 {color:white;}
.color_matt_bg {background-color:gray;}
.color_dc1 {color:pink;}
.color_dc2 {color:orange;}
.color_dc3 {color:cyan;}
.color_dc_bg {background-color:black;}
.color_juliet1 {color:blue;}
.color_juliet2 {color:hotpink;}
.color_juliet3 {color:black;}
.color_juliet_bg {background-color:black;}
.color_discord1 {color:#7289da;}
.color_discord2 {color:#424549;}
.color_discord3 {color:#46493e;}
.color_discord_bg {background-color:#4056a7;}
/*Fonts*/
@font-face {font-family:'Audiowide';src:url(https://jinxcade.github.io/jinxcade-media/fonts/Audiowide.ttf);}
@font-face {font-family:'Teko';src:url(https://jinxcade.github.io/jinxcade-media/fonts/Teko.ttf);}
@font-face {font-family:'Sofia';src:url(https://jinxcade.github.io/jinxcade-media/fonts/Sofia.ttf);}
@font-face {font-family:'DotGothic16';src:url(https://jinxcade.github.io/jinxcade-media/fonts/DotGothic16.ttf);}
@font-face {font-family:'Yusei Magic';src:url(https://jinxcade.github.io/jinxcade-media/fonts/Yusei+Magic.ttf);}
@font-face {font-family:'D';src:url(https://jinxcade.github.io/jinxcade-media/fonts/3D.ttf);}
@font-face {font-family:'Burbank';src:url(https://jinxcade.github.io/jinxcade-media/fonts/Burbank.otf);}
@font-face {font-family:'Heading Now';src:url(https://jinxcade.github.io/jinxcade-media/fonts/Heading+Now.ttf);}
@font-face {font-family:'Densit';src:url(https://jinxcade.github.io/jinxcade-media/fonts/Densit.otf);}