.rough > div {margin:10px;}
/*-----------Rect-----------*/
.rect {width:85%;margin:0 auto;padding:3px 20px;-webkit-border-radius:0px;background-color:rgba(128,128,128,0.7);transition:0.5s;filter:drop-shadow(8px 8px 10px rgba(128,128,128,0.7));background-image:url(div_bg.png),linear-gradient(rgba(165,165,165,0.7),rgba(128,128,128,0.7));background-repeat:repeat-x;}
.rect_loose {margin:0 auto;-webkit-border-radius:0px;background-color:rgba(128,128,128,0.7);transition:0.5s;filter:drop-shadow(8px 8px 10px rgba(128,128,128,0.7));background-image:url(div_bg.png),linear-gradient(rgba(165,165,165,0.7),rgba(128,128,128,0.7));background-repeat:repeat-x;}
.rect > div {margin:10px;}

/*Sizing*/

.smaller_size {
	width:60%;
}
.size10 {
	width:10%;
}
.size20 {
	width:20%;
}
.size30 {
	width:30%;
}
.size40 {
	width:40%;
}
.size50 {
	width:50%;
}
.size60 {
	width:60%;
}
.size70 {
	width:70%;
}
.size80 {
	width:80%;
}
.size90 {
	width:90%;
}
.size100 {
	width:100%;
}

/*Hovering*/

.hover {width:85%;height:100%;transition:0.5s;}
.hover:hover {width:87.5%;height:100%;transition:0.1s;}
.hover_small {width:60%;height:100%;transition:0.5s;}
.hover_small:hover {width:62.5%;height:100%;transition:0.1s;}

/*General stuff*/
