
.sticky {border:2px solid #301934;}
.fixed {position:fixed;bottom:0;right:0;border:2px solid #301934;}
.border {border:2px solid #301934;}

/*Selections*/

.selection {margin:5px;border:1px solid #343835;float:left;width:180px;height:250px;transition:0.5s;filter:drop-shadow(8px 8px 10px rgba(128,128,128,0.7));}
.selection:hover {cursor:url('cursor_click.png'), auto;border:1px solid #9A9E9B;transition:0.5s;background-color:#454946;filter:drop-shadow(8px 8px 8px #9A9E9B);}
.selection img {width:100%;height:auto;border:0px solid #9A9E9B;filter:drop-shadow(0px 0px 0px #9A9E9B);}
.selection_text {padding:15px;text-align:center;}
.selection_text:hover {cursor:url('cursor_click.png'), auto;}

/*Tooltips*/

.tooltip {position:relative;display:inline-block;border-bottom:1px dotted black;}
.tooltip .tooltiptext {width:180px;background-color:black;color:rgba(128,128,128,0);text-align:center;padding:5px 0;border-radius:6px;position:absolute;z-index:1;margin-left:-60px;left:33.333%;top:30%;background-color:rgba(128,128,128,0);transition:1s;}
.tooltip:hover .tooltiptext {transition:1s;background-color:rgba(128,128,128,0.8);color:rgba(0,0,0,1);}

/*Colors (inefficient on memory)*/

.color_red {color:red;}
.color_yellow {color:yellow;}
.color_green {color:green;}
.color_cyan {color:cyan;}
.color_blue {color:blue;}
.color_magenta {color:magenta;}
.color_white {color:white;}
.color_black {color:black;}
.color_accent1 {color:#10034f;}
.color_accent2 {color:#9A9E9B;}
.color_accent3 {color:#343835;}
.color_accent_bg {background-color:#10034f;}
.color_venith1 {color:#040;}
.color_venith2 {color:lime;}
.color_venith3 {color:rgb(19,235,170);}
.color_venith_bg {background-color:#040;}
.color_matt1 {color:blue;}
.color_matt2 {color:black;}
.color_matt3 {color:white;}
.color_matt_bg {background-color:gray;}
.color_dc1 {color:pink;}
.color_dc2 {color:orange;}
.color_dc3 {color:cyan;}
.color_dc_bg {background-color:black;}
.color_juliet1 {color:blue;}
.color_juliet2 {color:hotpink;}
.color_juliet3 {color:black;}
.color_juliet_bg {background-color:black;}
.color_discord1 {color:#7289da;}
