.color_discord2 {color:#424549;}
.color_discord3 {color:#46493e;}
.color_discord_bg {background-color:#4056a7;}
.color_suyu1 {color:#4444FF;}
.color_suyu2 {color:#FF4444;}
.color_suyu3 {color:#gray;}
.color_suyu_bg {background-color:#4444FF;}

/*Navigation Bar*/

.topnav {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	overflow:hidden;
	background-color:#343835;
	transition:0.75s;
    z-index:5;
}
.topnav a {
	float:left;
	display:block;
	color:#9A9E9B;
	text-align:left;
	padding:5px 16px;
	text-decoration: none;
	transition:0.5s;
	border:0px solid #301934;
    z-index:6;
}
.topnav a:hover {
	background-color:#9A9E9B;
	color:black;
	cursor:url('cursor_click.png'), auto;
    
}
.topnav:hover {
	cursor:url('cursor.png');
}
.active {
	background-color:#565A57;
}

/*Fonts*/

@font-face {font-family:'Audiowide';src:url(https://jinxcade.github.io/jinxcade-media/fonts/Audiowide.ttf);}
@font-face {font-family:'AudiowideJPN';src:url(https://jinxcade.github.io/jinxcade-media/fonts/AudiowideJPN.ttf);}
@font-face {font-family:'Teko';src:url(https://jinxcade.github.io/jinxcade-media/fonts/Teko.ttf);}
@font-face {font-family:'Sofia';src:url(https://jinxcade.github.io/jinxcade-media/fonts/Sofia.ttf);}
