@font-face {font-family:'DotGothic16';src:url(https://jinxcade.github.io/jinxcade-media/fonts/DotGothic16.ttf);}
@font-face {font-family:'Yusei Magic';src:url(https://jinxcade.github.io/jinxcade-media/fonts/Yusei+Magic.ttf);}
@font-face {font-family:'D';src:url(https://jinxcade.github.io/jinxcade-media/fonts/3D.ttf);}
@font-face {
	font-family:'Burbank';
	src:url(https://jinxcade.github.io/jinxcade-media/fonts/Burbank.otf);
}
@font-face {
	font-family:'Heading Now';
	src:url(https://jinxcade.github.io/jinxcade-media/fonts/DelaGothicOne.ttf);
}
@font-face {
	font-family:'Densit';
	src:url(https://jinxcade.github.io/jinxcade-media/fonts/Densit.otf);
}
