.og_hover:hover {
	width:125%;
	height:125%;
	transition:0.5s;
}
.og_smooth {
	width:80%;
	margin:0 auto;
	padding:5px 20px;
	-webkit-border-radius:12px;
	background-color:rgba(128,128,128,0.25);
}
.og_smooth > div {
	margin:10px;
}

/*Animations*/

.jc_anim {
	background-color: white;
    animation-name: jc_anim;
	animation-duration: 4s;
	text-align: center;
	animation-iteration-count: infinite;
}

@keyframes jc_anim {0% {
		background-color: white;
        color:black;
	}
	50%  {
		background-color: black;
        color:white;
	}
	100% {
		background-color: white;
        color:black;
	}
}

/*Smooth Stuff*/

/*-----------Oval-----------*/
