
    .smooth {
      width: 80%;
      margin: 0 auto;
      padding: 5px 20px;
      -webkit-border-radius: 12px;
      background-color: rgba(128, 128, 128, 0.25);
    }
    .smooth > div {
      margin: 10px;
    }

